<section class="todoapp">
  <header class="header">
    <h1>
      {{title}}
    </h1>
    <input class="new-todo" placeholder="What needs to be bought?" autofocus [(ngModel)]="newshoppingListItem.title" (keyup.enter)="addShoppingList()">
    <button class="add" (click)="addShoppingList()">Add</button>
  </header>
  <section class="main" *ngIf="shoppingList.length > 0">
    <ul class="todo-list">
      <li *ngFor="let shoppingListItem of shoppingList" [class.completed]="shoppingListItem.complete">
          <div class="view">
            <input class="toggle" type="checkbox" (click)="toggle()" [checked]="shoppingListItem.complete">
            <label (dblclick)="enterEditMode(todoItemInput)">{{shoppingListItem.title}}</label>
            <button (click)="delete(shoppingListItem)" class="destroy"></button>
          </div>
        </li>
    </ul>
  </section>
</section>